@import "../../styles/variables.scss";

.image-selector {
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;

    &-btn {
        color: $color-blue;
        padding: 15px;
    }
}

.selected-image {
    padding: 10px;

    img {
        max-width: 100%;
        margin: 0 auto;
    }
}

.ocr-progress {
    text-align: center;
    font-size: $font-size-smaller;
}